<h2 mat-dialog-title>Create New Client</h2>

<mat-dialog-content >
    <form>
    <mat-form-field appearance="fill">
        <mat-label>Contracting Party</mat-label>
        <input matInput>
    </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Correspondence Language </mat-label>
        <mat-select>
          <mat-option value="one">English</mat-option>
          <mat-option value="two">German</mat-option>
          <mat-option value="two">Italian</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>PSEUDO Account</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Designation Agreement</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Pseudo Name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Legal Domicile</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>with profile</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Joint Account </mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Pin Code</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Purpose Of Use</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Identification Type</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Fortune Origin</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Money From Account</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Previous care</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Previous care time </mat-label>
        <input matInput [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1">
        </mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Fortune</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Region Payment</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Type of fortune</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Spec wishes</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Manager</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Risk Index</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Risk index validity </mat-label>
        <input matInput [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2">
        </mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field color="accent" appearance="fill">
        <mat-label>Risk index last bill </mat-label>
        <input matInput [matDatepicker]="picker3">
        <mat-datepicker-toggle matSuffix [for]="picker3">
        </mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Account opening type</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Customer nature</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Risk category</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Pep</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Special category</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nature</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Single name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nationality </mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Risk country</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Known personally</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Travel activity </mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Tax domicile</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Eu tax status</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>TIN</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
      <mat-label>Contract language</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Assets category</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Total assets</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Segmentation</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Fortune</mat-label>
        <input matInput type="text" (keypress)="keyPressNumbersWithDecimal($event)"/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Designation</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Tax Country</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Client Status</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Discharge Orders</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ebanking Contract</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ebanking Contract Language</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Mailing Rate Type</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Client Group</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Transaction by Country</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Client Group</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Customer Since</mat-label>
        <input matInput [matDatepicker]="picker4">
        <mat-datepicker-toggle matSuffix [for]="picker4">
        </mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
    </mat-form-field>
    <br>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" >Create</button>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>