<mat-toolbar color="default" class="app-header">
    <div><img src="https://static.wixstatic.com/media/3d9291_1a2e74c9c98f4d31ae549a9bafb1256d~mv2.png" alt="New Access" width="100" height="50" routerLink="home"> </div>
    <span class="nav-tool-items">
      <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active" object-position="right top">Register</a>
      <a mat-button routerLink="Client" routerLinkActive="active">Client</a>
      <a mat-button routerLink="Portfolio" routerLinkActive="active">Portfolio</a>
    </span>
  </mat-toolbar>
