
    
     <p-table  [columns]="cols" [value]="Portfolio" [scrollable]="true" scrollDirection="vertical"    [paginator]="true" [rows]="15"   >
      <ng-template pTemplate="header"   >
          <tr>
              <th *ngFor="let col of cols" > {{col.header}} </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Portfolio >
          <tr>
              <td *ngFor="let col of cols" > {{Portfolio[col.field]}}</td>
      </ng-template>
      <ng-template pTemplate="footer">
         <tr>
             <td *ngFor="let col of cols">{{col.header}}</td>
         </tr>
     </ng-template>
  </p-table>

  <div id="mySidenav" class="sidenav">
   <a mat-button routerLink="/Portfolio"  routerLinkActive="active" id="about">Portfolio</a>
   <a mat-button routerLink="/Client" routerLinkActive="active" id="blog">Clients</a>
   <a mat-button routerLink="/PortfolioDetails" routerLinkActive="active" id="projects">Details</a>
   <a mat-button routerLink="/home" routerLinkActive="active" id="contact">Home</a>
</div>
   
<!-- <p-table  [columns]="cols" [value]="Portfolio" [scrollable]="true" scrollDirection="vertical"    [paginator]="true" [rows]="10"  [(first)]="first"  >
      <ng-template pTemplate="header"   >
          <tr>
              <th *ngFor="let col of cols" > {{col.header}} </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Portfolio >
          <tr>
              <td *ngFor="let col of cols" > {{Portfolio[col.field]}}</td>
      </ng-template>
      <ng-template pTemplate="footer">
         <tr>
             <td *ngFor="let col of cols">{{col.header}}</td>
         </tr>
     </ng-template>
  </p-table> -->

